# Server Configuration
PORT=8000
ENVIRONMENT=development

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# AI Configuration
LITELLM_MASTER_KEY=sk-placeholder
OPENAI_API_KEY=your_openai_api_key_here
